<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.inappstory.demo">

    <application
        android:name=".DemoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:configChanges="orientation|keyboardHidden|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".simple.BasicIntegrationSample"
            android:exported="true"/>
        <activity android:name=".advanced.AdvancedCellSample"
            android:exported="true"/>
        <activity android:name=".custom.CustomCellSample"
            android:exported="true"/>

        <activity android:name=".favorites.FavoritesSample"
            android:exported="true"/>
        <activity android:name=".favorites.StoryFavoritesActivity"
            android:exported="true"/>

        <activity android:name=".customreader.ReaderCustomizationSample"
            android:exported="true"/>

        <activity android:name=".single.SingleStorySample"
            android:exported="true"/>
        <activity android:name=".onboarding.OnboardingSample"
            android:exported="true"/>

        <activity android:name=".tagsplaceholders.TagsPlaceholdersSample"
            android:exported="true"/>

        <activity android:name=".userchange.UserChangeSample"
            android:exported="true"/>

        <activity android:name=".notification.NotificationSubscribeSample"
            android:exported="true"/>
        <activity android:name=".goodswidget.DefaultWidgetSample"
            android:exported="true"/>
        <activity android:name=".goodswidget.CustomCellWidgetSample"
            android:exported="true"/>
        <activity android:name=".goodswidget.CustomWidgetSample"
            android:exported="true"/>
    </application>

</manifest>